/* TOP NAV */

* {
	box-sizing: border-box;
	font-family: sans-serif;
	color: #404040;
}

h1 {
	line-height: 100px;
	border-bottom: 1px solid #808080;
}

#main-container {
	width: 960px;
	margin: 0 auto; 
}

#logo {
	width: 200px;
	height: 100px;
	background-color: red;
	float: left;
/*	border: 1px solid black; */
}


ul {
	list-style: none;
}


#navigation li {
	float: left;
	line-height: 0px;
	padding: 49px;
/*	border: 1px solid black; */
}

a {
	text-decoration: none;
}

#wrapper {
	clear: both;
	padding-top: 1px;
}

#image{
	width: 400px;
	height: 200px;
	background-color: #d3d3d3;
	float: left;
	margin-right: 10px;
}

#wrapper-footer {
	clear: both;
	padding-top: 10px;
}

#footer {
	width: 100%;
	height: 20px;
	background-color: grey;
}



/* LEFT NAV */

#header2 {
	float: left;
	margin-right: 20px;
}

#logo2 {
	width: 200px;
	height: 100px;
	background-color: red;
}

#navigation2 li {
	padding: 25px 16;
	border-bottom: 1px solid #808080;
	margin-left: -40px;  /* WHERE IS THIS ADDITIONAL MARGIN COMING FROM?*/
}

#image2 {
	width: 760px;
	height: 40px;
	background-color: #d3d3d3;
}































